
<!DOCTYPE html>
<html lang="hi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>भारतीय इतिहास की पुस्तक</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }
        header {
            background: #343a40;
            color: #fff;
            padding: 20px 0;
          
        }
        .history-section {
            margin-top: 40px;
            padding: 20px;
            color: #fff;
        }
        .history-section img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .history-section h2, .history-section h3 {
            margin-top: 20px;
            color: #f8f9fa;
        }
        .ancient {
            background: url('image/Himage/anciant.png') no-repeat center center;
            background-size: cover;
        }
        .medieval {
            background: url('image/Himage/medievalsam.png') no-repeat center center;
            background-size: cover;
        }
        .modern {
            background: url('image/Himage/modern.png') no-repeat center center;
            background-size: cover;
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0.6);
            padding: 20px;
            border-radius: 10px;
        }
		.custom-navbar {
		  background-color: #1a1a1a; /* Dark background color */
		}

		.custom-navbar .nav-link,
		.custom-navbar .navbar-toggler-icon,
		.custom-navbar .btn-danger {
		  color: #f8f9fa; /* Light text color for good contrast */
		}

		.custom-navbar .dropdown-menu {
		  background-color: #1a1a1a; /* Match the background color */
		}

		.custom-navbar .dropdown-item {
		  color: #f8f9fa; /* Light text color */
		}

		.custom-navbar .dropdown-item:hover {
		  background-color: #343a40; /* Slightly lighter color on hover */
		}
  .google {
 
 text-align:center;
 border: 5px solid black;
 background-color: #FFCC66;
  box-shadow: 10px 10px #CC9900;
 
  }
  .navbar .nav-link:hover {
             background-image: linear-gradient(
    to right,
    orange,
    red 50%,
  yellow 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2s ease-in-out;
        }
    </style>
</head>
<body>
	<history>

    <div class="container"><br> <br>
<br>
        <header class="text-center my-4">
            <h1>भारतीय इतिहास की पुस्तक</h1>
        </header>

<div class="google" id="google_translate_element"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'hindi'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<div class="container">
	<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
				    <div class="container col-md-1">
				      <a class="nav-link" href="history.html" th:href="@{/history}">History</a>
				    </div>
				    <div class="container col-md-1">
				      <a class="nav-link" href="polity.html" th:href="@{/polity}">Polity</a>
				    </div>
				    <div class="container col-md-1">
				      <a class="nav-link" href="/src/main/resources/templates/ReadMore/hindi.html" th:href="@{/hindi}">Hindi</a>
				    </div>
				    <div class="container col-md-1">
				      <a class="nav-link" href="/src/main/resources/templates/ReadMore/economics.html" th:href="@{/economics}">Economics</a>
				    </div>
				    <div class="container col-md-2">
				      <a class="nav-link" href="/src/main/resources/templates/ReadMore/public administration.html" th:href="@{/public administration}">Public administration</a>
				    </div>
				    <div class="container col-md-1">
				      <a class="nav-link" href="/src/main/resources/templates/ReadMore/chemistry.html" th:href="@{/chemistry}">Chemistry</a>
				    </div>
				    <div class="container col-md-1">
				      <a class="nav-link" href="/src/main/resources/templates/ReadMore/physics.html" th:href="@{/physics}">Physics</a>
				    </div>
				    <div class="container col-md-1">
				      <a class="nav-link" href="/src/main/resources/templates/ReadMore/agriculture.html" th:href="@{/agriculture}">Agriculture</a>
				    </div>
				    <div class="container col-md-1">
				      <a class="nav-link" href="/src/main/resources/templates/ReadMore/maths.html" th:href="@{/maths}">Maths</a>
				    </div>
				    <div class="container col-md-1">
				      <a class="nav-link" href="/src/main/resources/templates/ReadMore/biology.html" th:href="@{/biology}">Biology</a>
				    </div>
				    <div class="container col-md-1 btn-group">
				      <div class="dropdown">
				        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">More
				          <span class="caret"></span></button>
				        <ul class="dropdown-menu">
				          <li><a class="dropdown-item" href="#">Science & Technology</a></li>
				          <li><a class="dropdown-item" href="#">Arts & Culture</a></li>
				          <li><a class="dropdown-item" href="#">Environment & Ecology</a></li>
				          <li><a class="dropdown-item" href="#">Social Issues</a></li>
				        </ul>
				      </div>
				    </div>
				  </div>
				</nav>
			
      
        <!-- प्राचीन भारत -->
        <div class="history-section ancient">
            <div class="overlay">
                <h2>प्राचीन भारत</h2>
                <img src="image/Himage/prachin.png" alt="प्राचीन भारत">
                <p>प्राचीन भारत की सभ्यता विश्व की प्राचीनतम सभ्यताओं में से एक है। हड़प्पा और मोहनजोदड़ो जैसी सिंधु घाटी सभ्यता इसके प्रमुख उदाहरण हैं।
                </p>

                <h3>सिंधु घाटी सभ्यता</h3>
                <img src="image/Himage/sindhu.png" alt="सिंधु घाटी सभ्यता">
                <p>सिंधु घाटी सभ्यता लगभग 2500-1900 ईसा पूर्व तक अस्तित्व में रही। यह सभ्यता अपने नगर नियोजन, जल प्रबंधन, और उन्नत वास्तुकला के लिए जानी जाती है
                नव पाषाण युग के अंत तक मनुष्य की बुद्धि बहुत कुछ विकसित हो गई थी। इसी समय कृषि का आविष्कार हुआ। कृषि ही सम्यता की माता थी। आर्य ही संसार में सबसे 
                प्रथम कृषक थे। कृषि के उपयोगी स्थानों की खोज में आर्य पंजाब की भूमि में आए और इसी का नाम सप्तसिन्धु प्रदेश रखा। आर्य लोग सम्पूर्ण सप्तसिन्धु प्रदेश में फैल गए,
                 परन्तु उनकी सभ्यता का केन्द्र सरस्वती तट था। सरस्वती नदी तट पर ही आर्यों ने ताम्रयुग की स्थापना की। यहाँ उन्हें ताम्बा मिला और वे अपने पत्थर के हथियारों को छोड़कर
                  ताम्बे के हथियारों को काम में लेने लगे। इस ताम्रयुग के चिन्ह अन्वेषकों को " चान्हू डेरों " तथा "विजनौत " नामक स्थानों में खुदाई में मिले हैं। ये स्थान सरस्वती नदी
                   प्रवाह के सूखे हुए मार्ग पर ही है। मैसोपोटामिया तथा इलाम में यही सभ्यता " प्रोटो इलामाइट " सभ्यता कहाती है। सुमेरू जाति प्रोटाइलामाइट जाति के बाद मैसोपोटामिया 
                   में जाकर बसी है। सुमेरू सभ्यता के बाद मिस्र की सभ्यता का उदय हुआ। प्रसिद्ध अमेरिकन पुरातत्वविद् डा० डी० टेरा ने सिन्धु प्रदेश को पत्थर और धातुयुग में मिलानेवाला कहते हैं।।</p>

                <h3>वैदिक काल</h3>
                <img src="image/Himage/vedic.png" alt="वैदिक काल">
                <p>वैदिक काल (1500-500 ईसा पूर्व) आर्यों के आगमन के साथ शुरू हुआ। इस काल में वेदों की रचना हुई, जो भारतीय संस्कृति और धर्म के मूल आधार हैं।
                भारतीय उपमहाद्वीप के उत्तर-पश्चिमी भागों में उत्पन्न वैदिक सभ्यता, महान प्रगति और सांस्कृतिक समृद्धि का काल था। इस काल के दौरान,वेदों की रचना की गई,
                 जो उस समय के जीवन के बारे में अंतर्दृष्टि प्रदान करते हैं।, जिसमे ऋग्वेद सर्वप्राचीन और बृहत होने के कारण सर्वाधिक महत्वपूर्ण है। वैदिक सभ्यता विश्व की 
                 सर्वप्रथम शाब्दिक सभ्यता थी और इसी सभ्यता से साहित्य की खोज हुई। इसी काल से ही सही मायनों में भारतीय संस्कृति का जन्म हुआ। वैदिक काल को ऋग्वैदिक 
                 या पूर्व वैदिक काल तथा उत्तर वैदिक काल में बांटा गया है। वैदिक काल या वैदिक युग की उत्पत्ति अभी भी एक विवाद का मुद्दा है।

                 वैदिक साहित्य जो इस अवधि के दौरान लिखे गए, समकालीन जीवन का विवरण देने वाले प्रख्यात ग्रंथ हैं और साथ ही विश्व के प्राचीनतम ग्रंथ भी है।
                 जिन्हें ऐतिहासिक माना गया है और अवधि को समझने के लिए प्राथमिक स्रोतों का गठन किया गया है। संबंधित पुरातात्विक अभिलेखों के साथ ये दस्तावेज 
                  वैदिक संस्कृति के विकास का पता लगाने और उस काल का अनुमान लगाने की अनुमति देते हैं।</p>
            </div>
        </div>

        <!-- मध्यकालीन भारत -->
        <div class="history-section medieval">
            <div class="overlay">
                <h2>मध्यकालीन भारत</h2>
                <img src="image/Himage/alexender.png" alt="मध्यकालीन भारत">
                <p>मध्यकालीन भारत में विभिन्न राजवंशों का शासन रहा जैसे कि गुप्त, चालुक्य, चोल, और मुगल। इस कालखंड में कला, संस्कृति और विज्ञान में महत्वपूर्ण विकास हुआ।
                मध्यकाल के प्रारम्भ को लेकर इतिहासकारों के बीच मतभेद जहाँ कुछ इतिहासकार इसे गुप्त राजवंश के पतन के बाद ५-छटी शताब्दी के बाद से शुरू हुआ मानते है जबकि 
                कुछ इसे ७-८वीं शताब्दी से शुरू हुआ मानते है। गुप्त साम्राज्य के पतन के बाद और दिल्ली सल्तनत के शुरू होने के बीच भारतवर्ष कई छोटे राज्य में बटा हुआ था।
                 हलांकि कई साम्राज्यों ने इसे पुनर्गठित करने की कोशिश की लेकिन ज्यादा समय के लिये नहीं कर सके। इस दौर में सबसे महत्वपूर्ण गुर्जर-प्रतिहार, पाल और राष्ट्रकूट
                  साम्राज्य के बीच त्रिपक्षीय संघर्ष और भारत पर मुस्लिम आक्रमण का शुरूआत रहा। उस दौर के कुछ राजवंश जिन्होनें शासन किया।</p>

                <h3>गुप्त साम्राज्य</h3>
                <img src="image/Himage/gupta.png" alt="गुप्त साम्राज्य">
                <p>गुप्त साम्राज्य (320-550 ईस्वी) को भारतीय इतिहास का स्वर्ण युग कहा जाता है। इस काल में कला, साहित्य, और विज्ञान में अद्वितीय विकास हुआ।
                गुप्त राजवंश या गुप्त साम्राज्य (ल. 240/275–550 इस्वी) प्राचीन भारत का एक भारतीय साम्राज्य था। जिसने लगभग संपूर्ण उत्तर भारत पर शासन किया।
                 इतिहासकारों द्वारा इस अवधि को भारत का स्वर्ण युग माना जाता है। मौर्य वंश व शुंग वंश के पतन के बाद दीर्घकाल में हर्ष तक भारत में राजनीतिक एकता स्थापित नहीं रही। 
                 कुषाण एवं सातवाहनों ने राजनीतिक एकता लाने का प्रयास किया। मौर्योत्तर काल के उपरान्त तीसरी शताब्दी ईस्वी में तीन राजवंशो का उदय हुआ जिसमें मध्य भारत में नाग शक्‍ति, 
                 दक्षिण में वाकाटक तथा पूर्वी में गुप्त वंश प्रमुख हैं। मौर्य वंश के पतन के पश्चात नष्ट हुई राजनीतिक एकता को पुनः स्थापित करने का श्रेय गुप्त वंश को है।


इस काल की अजन्ता चित्रकला
गुप्त साम्राज्य की नींव तीसरी शताब्दी के चौथे दशक में तथा उत्थान चौथी शताब्दी की शुरुआत में हुआ। गुप्त वंश का प्रारम्भिक राज्य आधुनिक उत्तर प्रदेश और बिहार में था।
साम्राज्य के पहले शासक चंद्र गुप्त प्रथम थे, जिन्होंने विवाह द्वारा लिच्छवी के साथ गुप्त को एकजुट किया। उनके पुत्र प्रसिद्ध समुद्रगुप्त ने विजय के माध्यम से साम्राज्य का विस्तार किया। ऐसा लगता है 
कि उनके अभियानों ने उत्तरी और पूर्वी भारत में गुप्त शक्ति का विस्तार किया और मध्य भारत और गंगा घाटी के कुलीन राजाओं और उन क्षेत्रों को वस्तुतः समाप्त कर दिया जो तब गुप्त वंश के प्रत्यक्ष प्रशासनिक नियंत्रण में आ गए थे ।
 साम्राज्य के तीसरे शासक चंद्रगुप्त द्वितीय (या विक्रमादित्य, "शौर्य का सूर्य") उज्जैन तक साम्राज्य का विस्तार करने के लिए मनाया गया, लेकिन उनका शासनकाल सैन्य विजय की तुलना में सांस्कृतिक और बौद्धिक उपलब्धियों से अधिक जुड़ा हुआ था। 
 उनके उत्तराधिकारी- कुमारागुप्त, स्कंदगुप्त और अन्य - ने धुनास (हेफ्थालवासियों की एक शाखा) पर आक्रमण के साथ साम्राज्य के क्रमिक निधन को देखा। 6 वीं शताब्दी के मध्य तक, जब राजवंश का अंत हुआ, तो राज्य एक छोटे आकार में घट गया था।</p>

                <h3>मुगल साम्राज्य</h3>
                <img src="image/Himage/mugal.png" alt="मुगल साम्राज्य">
                <p>मुगल साम्राज्य (1526-1857) ने भारत में एक नई संस्कृति और वास्तुकला का विकास किया। ताजमहल, लाल किला, और अन्य कई महत्वपूर्ण निर्माण इस काल के उदाहरण हैं।
                मुग़ल साम्राज्य (फ़ारसी: بِلادِ هندوستان‎, बिलाद-ए-हिन्दोस्तान[4], तुर्की: Babür İmparatorluğu), एक इस्लामी तुर्की-मंगोल साम्राज्य था, जो 1526 में शुरू हुआ, जिसने 17 वीं शताब्दी के आखिर में और 18 वीं शताब्दी की शुरुआत तक भारतीय उपमहाद्वीप में शासन किया और 19 वीं शताब्दी के मध्य में समाप्त हुआ। अधिकांश भारतीय उपमहाद्वीप पर मुगल साम्राज्य के अंत के लिए मराठे जिम्मेदार थे।

मुग़ल सम्राट तुर्क-मंगोल पीढ़ी के तैमूरवंशी थे और इन्होंने अति परिष्कृत मिश्रित हिन्द-फारसी संस्कृति को विकसित किया। 1700 के आसपास, अपनी शक्ति की ऊँचाई पर, इसने भारतीय उपमहाद्वीप के अधिकांश भाग को नियंत्रित किया - इसका विस्तार पूर्व में वर्तमान बंगलादेश से पश्चिम में बलूचिस्तान तक और उत्तर में कश्मीर से दक्षिण में कावेरी घाटी तक था। उस समय 44 लाख किमी² (15 लाख मील²) के क्षेत्र पर फैले इस साम्राज्य की जनसंख्या का अनुमान 13 और 15 करोड़ के बीच लगाया गया था।[8] 1725 के बाद इसकी शक्ति में तेज़ी से गिरावट आई। उत्तराधिकार के कलह, कृषि संकट की वजह से स्थानीय विद्रोह, धार्मिक असहिष्णुता का उत्कर्ष और ब्रिटिश उपनिवेशवाद से कमजोर हुए साम्राज्य का अंतिम सम्राट बहादुर ज़फ़र शाह था, जिसका शासन दिल्ली शहर तक सीमित रह गया था। अंग्रेजों ने उसे कैद में रखा और 1857 के भारतीय विद्रोह के बाद ब्रिटिश द्वारा म्यानमार/रगुन निर्वासित कर दिया।

1556 में, जलालुद्दीन मोहम्मद अकबर, जो महान अकबर के नाम से प्रसिद्ध हुआ, के पदग्रहण के साथ इस साम्राज्य का उत्कर्ष शुरू हुआ और सम्राट औरंगज़ेब के निधन के साथ समाप्त हुआ, हालाँकि यह साम्राज्य और 150 साल तक चला। इस समय के दौरान, विभिन्न क्षेत्रों को जोड़ने में एक उच्च केंद्रीकृत प्रशासन निर्मित किया गया था। मुग़लों के सभी महत्वपूर्ण स्मारक, उनके ज्यादातर दृश्य विरासत, इसी अवधि के हैं।</p>
            </div>
        </div>

        <!-- आधुनिक भारत -->
        <div class="history-section modern">
            <div class="overlay">
                <h2>आधुनिक भारत</h2>
                <img src="image/Himage/adhunik.png" alt="आधुनिक भारत">
                <p>17वीं शताब्दी के मध्यकाल में पुर्तगाल, डच, फ्रांस, ब्रिटेन सहित अनेकों युरोपीय देशों, जो कि भारत से व्यापार करने के इच्छुक थे, उन्होनें देश में स्थापित शासित प्रदेश, जो कि आपस में युद्ध करने में व्यस्त थे, का लाभ प्राप्त किया। अंग्रेज दुसरे देशों से व्यापार के इच्छुक लोगों को रोकने में सफल रहे और १८४० ई तक लगभग संपूर्ण देश पर शासन करने में सफल हुए। १८५७ ई में ब्रिटिश इस्ट इंडिया कम्पनी के विरुद्ध असफल विद्रोह, जो कि भारतीय स्वतन्त्रता के प्रथम संग्राम से जाना जाता है, के बाद भारत का अधिकांश भाग सीधे अंग्रेजी शासन के प्रशासनिक नियंत्रण में आ गया।
                आधुनिक भारत का इतिहास ब्रिटिश शासन, स्वतंत्रता संग्राम और 1947 में स्वतंत्रता प्राप्ति से जुड़ा हुआ है। इसके बाद भारत एक गणराज्य बना और इसमें संविधान लागू हुआ।</p>

                <h3>ब्रिटिश शासन</h3>
                <img src="image/Himage/british.png" alt="ब्रिटिश शासन">
                <p>ब्रिटिश शासन (1757-1947) के दौरान भारत ने बड़े पैमाने पर राजनीतिक और सामाजिक परिवर्तन देखे। भारतीय स्वतंत्रता संग्राम इसी काल में हुआ।
                ब्रिटिश राज का इतिहास, 1858 और 1947 के बीच भारतीय उपमहाद्वीप पर ब्रिटिश शासन की अवधि को संदर्भित करता है।[1] शासन प्रणाली को 1858 में स्थापित किया गया था जब ब्रिटिश ईस्ट इंडिया कंपनी की सत्ता को महारानी विक्टोरिया के हाथों में सौंपते हुए राजशाही के अधीन कर दिया गया (और विक्टोरिया को 1876 में भारत की महारानी घोषित किया गया)।[2] यह 1947 तक चला, जब ब्रिटिश भारतीय साम्राज्य को संपूर्ण-प्रभुत्व-सम्पन्न दो देशों में विभाजित कर दिया गया: भारतीय संघ (बाद में भारतीय गणराज्य) और पाकिस्तान रियासत (बाद में पाकिस्तानी इस्लामी गणतंत्र, जिसका पूर्वी भाग बाद में बांग्लादेश गणराज्य बना). भारतीय साम्राज्य के पूर्वी क्षेत्र में बर्मा प्रांत को 1937 में एक अलग उपनिवेश बनाया गया और वह 1948 में स्वतंत्र हुआ।</p>

                <h3>स्वतंत्रता संग्राम</h3>
                <img src="image/Himage/movement.png" alt="स्वतंत्रता संग्राम">
                <p>भारतीय स्वतन्त्रता आन्दोलन ऐतिहासिक घटनाओं की एक श्रृंखला थी जिसका अंतिम उद्देश्य भारत में ब्रिटिश शासन को समाप्त करना था। यह 1947 तक चला।

भारतीय स्वतंत्रता के लिए पहला राष्ट्रवादी क्रांतिकारी आंदोलन बंगाल से उभरा। बाद में इसने नवगठित भारतीय राष्ट्रीय कांग्रेस में जड़ें जमा लीं, जिसमें प्रमुख उदारवादी नेताओं ने ब्रिटिश भारत में भारतीय सिविल सेवा परीक्षाओं में बैठने के अधिकार के साथ-साथ मूल निवासियों के लिए अधिक आर्थिक अधिकारों की मांग की। 20वीं सदी के पूर्वार्द्ध में स्व-शासन के प्रति अधिक क्रांतिकारी दृष्टिकोण देखा गया।


दांडी मार्च
1920 के दशक में स्वतन्त्रता संग्राम के चरणों की विशेषता महात्मा गान्धी के नेतृत्व और काँग्रेस द्वारा गान्धी की अहिंसा और सविनय अवज्ञा की नीति को अपनाना था। गांधी की विचारधारा के कुछ प्रमुख अनुयायी जवाहरलाल नेहरू, सुभाष चन्द्र बोस, वल्लभभाई पटेल, अब्दुल गफ्फार खान, मौलाना आजाद और अन्य थे। रवीन्द्रनाथ टैगोर, सुब्रह्मण्य भारती और बंकिम चंद्र चट्टोपाध्याय जैसे बुद्धिजीवियों ने देशभक्ति जागरूकता फैलाई। सरोजिनी नायडू, विजयलक्ष्मी पंडित, प्रीतिलता वादेदार और कस्तूरबा गांधी जैसी महिला नेताओं ने भारतीय महिलाओं की मुक्ति और स्वतंत्रता संग्राम में उनकी भागीदारी को बढ़ावा दिया।

कुछ नेताओं ने अधिक हिंसक दृष्टिकोण अपनाया, जो रोलेट एक्ट के बाद विशेष रूप से लोकप्रिय हो गया, जिसने अनिश्चितकालीन हिरासत की अनुमति दी। इस अधिनियम ने पूरे भारत में विरोध प्रदर्शनों को जन्म दियाँ, विशेषकर पंजाब प्रांत में, जहां जलियांवाला बाग नरसंहार में उन्हें हिंसक रूप से दबा दिया गया।

भारतीय स्वतंत्रता आंदोलन निरंतर वैचारिक विकास में था। अनिवार्य रूप से उपनिवेशवाद विरोधी, यह एक धर्मनिरपेक्ष, लोकतान्त्रिक, गणतन्त्रात्मक और नागरिक-स्वतन्त्रतावादी राजनीतिक संरचना के साथ स्वतन्त्र, आर्थिक विकास के दृष्टिकोण से पूरक था। 1930 के दशक के बाद, आंदोलन ने एक मजबूत समाजवादी अभिविन्यास प्राप्त कर लिया। इसकी परिणति भारतीय स्वतंत्रता अधिनियम 1947 में हुई, जिसने क्राउन आधिपत्य को समाप्त कर दिया और ब्रिटिश राज को भारतीय अधिराज्य और पाकिस्तान अधिराज्य में विभाजित कर दिया।

26 जनवरी 1950 तक भारत एक स्वायत्तशासी बना रहा, जब भारत के संविधान ने भारत गणराज्य की स्थापना की। पाकिस्तान 1956 तक एक प्रभुत्व बना रहा जब उसने अपना पहला संविधान अपनाया। 1971 में, पूर्वी पाकिस्तान ने बांग्लादेश के रूप में अपनी स्वतंत्रता की घोषणा की स्वतंत्रता संग्राम (1857-1947) भारतीय जनता द्वारा ब्रिटिश शासन के खिलाफ लड़ा गया। महात्मा गांधी, जवाहरलाल नेहरू, और सुभाष चंद्र बोस जैसे नेता इसमें प्रमुख भूमिका निभाई।</p>

                <h3>स्वतंत्र भारत</h3>
                <img src="image/Himage/ajadi.png" alt="स्वतंत्र भारत">
                <p>भारतीय स्वतंत्रता अधिनियम १९४७ (Indian Independence Act 1947) युनाइटेड किंगडम की पार्लियामेंट द्वारा पारित वह विधान है जिसके अनुसार ब्रिटेन शासित भारत का दो भागों (भारत तथा पाकिस्तान) में विभाजन किया गया। यह अधिनियम 4 जुलाई 1947 को ब्रिटिश संसद में पेश हुआ और 18 जुलाई 1947 को स्वीकृत हुआ और १५ अगस्त १९४७ को भारत बंट गया। भारतीय संवैधानिक विकास के क्रम में अनेक विधेयक ब्रिटिश संसद ने पारित किए लेकिन सन् 1947 का भारतीय स्वतंत्रता अधिनियम[मृत कड़ियाँ] ब्रिटिश संसद द्वारा भारत के लिए अंतिम किन्तु सबसे अत्यधिक महत्वपूर्ण अधिनियम था। भारतीय स्वाधीनता अधिनियम द्वारा भारत ने 200 वर्ष से चल रहा ब्रिटिश शासन से मुक्ति प्राप्त की।माउंटबेटन योजना के अंतरगत 1947 में स्वतंत्रता प्राप्ति के बाद, भारत ने 1950 में अपना संविधान अपनाया और एक गणराज्य बना। इसके बाद से भारत ने कई सामाजिक, आर्थिक और राजनीतिक सुधार देखे हैं।</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</history>
</body>
</html>
